body {
    /*background-image: url("login.jpg");*/
}

h1 {
    text-align: center;
}

.container {
    margin: 13% auto;
    width: 20%;
}

button {
    text-align: center;
    margin: 5px 37%;
}

.form-actions {
    margin: 0;
    text-align: center;
}

#msg {
    text-align: center;
    margin: 20px 20%;
}